.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.custom-card {
  width: 95%; 
  margin-bottom: 20px;
  --ion-background-color: #ffffff;
}

.input-text {
  --ion-color-base: #ffffff;
}

.update-button,
.delete-button {
  margin-top: 10px;
}